<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello world! | platformOS Demo instance</title>
  <link rel="stylesheet" href="{{ 'styles/app.css' | asset_url }}">
</head>

<body>
{{ 'app.js' | asset_url | script_tag }}

<h1>1.Do you have any of the symptoms or signs?
</h1><br>
<p>New or worsening cough</p>
<input type="radio" id="cough" name="que" value=cough">
<label for="male">Yes</label><br>

<input type="radio" id="cough" name="que" value=cough">
<label for="male">No</label><br>


<p>Shortness of breath¨</p>
<input type="radio" id="cough" name="que1" value=cough">
<label for="male">Yes</label><br>

<input type="radio" id="cough" name="que1" value=cough">
<label for="male">No</label><br>




<p>Sore throat</p>
<input type="radio" id="cough" name="que2" value=cough">
<label for="male">Yes</label><br>

<input type="radio" id="cough" name="que2" value=cough">
<label for="male">No</label><br>


<p>Runny nose, sneezing or nasal congestion (in absence of underlying reasons for symptoms such as seasonal allergies and post nasal drip)</p>
<input type="radio" id="cough" name="que3" value=cough">
<label for="male">Yes</label><br>

<input type="radio" id="cough" name="que3" value=cough">
<label for="male">No</label><br>


<p>Hoarse voice</p>
<input type="radio" id="cough" name="que4" value=cough">
<label for="male">Yes</label><br>

<input type="radio" id="cough" name="que4" value=cough">
<label for="male">No</label><br>


<p>Difficulty swallowing</p>
<input type="radio" id="cough" name="que5" value=cough">
<label for="male">Yes</label><br>


<input type="radio" id="cough" name="que5" value=cough">
<label for="male">No</label><br>


<p>New smell or taste disorder(s)</p>
<input type="radio" id="cough" name="que6" value=cough">
<label for="male">Yes</label><br>

<input type="radio" id="cough" name="que6" value=cough">
<label for="male">No</label><br>


<p>Nausea/vomiting, diarrhea, abdominal pain</p>
<input type="radio" id="cough" name="que7" value=cough">
<label for="male">Yes</label><br>

<input type="radio" id="cough" name="que7" value=cough">
<label for="male">No</label><br>


<p>Unexplained fatigue/malaise</p>
<input type="radio" id="cough" name="que8" value=cough">
<label for="male">Yes</label><br>

<input type="radio" id="cough" name="que8" value=cough">
<label for="male">No</label><br>


<p>Chills</p>
<input type="radio" id="cough" name="que9" value=cough">
<label for="male">Yes</label><br>

<input type="radio" id="cough" name="que9" value=cough">
<label for="male">No</label><br>


<p>Headache</p>
<input type="radio" id="cough" name="que10" value=cough">
<label for="male">Yes</label><br>

<input type="radio" id="cough" name="que10" value=cough">
<label for="male">No</label><br>




</body>